body {
   background: linear-gradient(rgba(20, 39, 21, 0.4), rgba(20, 39, 21, 0.4)),
      url(images/santa-bg.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   color: #fff;
   min-height: 100vh;
   margin: 0;
}
section {
   padding: 0 140px;
}
h1 {
   font-family: "Elsie", cursive;
   font-weight: 900;
   font-size: 90px;
   margin: 50px 0;
   text-align: center;
}
h2,
h6 {
   font-family: "DM Serif Display", serif;
   font-weight: 400;
   margin: 0;
   line-height: 1.1;
}
h2 {
   font-size: 130px;
}
h6 {
   font-size: 30px;
}
.heading {
   display: flex;
   justify-content: center;
}
.container {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-top: 240px;
}
.counter {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 300px;
   height: 310px;
   background: #cc231e;
   border-radius: 30px;
   margin-bottom: 100px;
}
.block {
   display: flex;
   flex-direction: column;
   text-align: center;
   margin-bottom: 20px;
}
.btn {
   display: flex;
   justify-content: end;
   padding: 10px;
}
#playBtn {
   padding: 0;
}
button {
   background: none;
   border: none;
}
button:hover {
   cursor: pointer;
}
.animation {
   background: url(images/animated-text-fill.png) repeat-y;
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-animation: aitf 80s linear infinite;
   -webkit-transform: translate3d(0, 0, 0);
   -webkit-backface-visibility: hidden;
}
@-webkit-keyframes aitf {
   0% {
      background-position: 0% 50%;
   }
   100% {
      background-position: 100% 50%;
   }
}
@media all and (max-width: 2560px) {
   section {
      padding: 0 460px;
   }
   h1 {
      margin: 120px 0;
   }
   .container {
      margin-top: 350px;
   }
}
@media all and (max-width: 1920px) {
   section {
      padding: 0 200px;
   }
   h1 {
      margin: 80px 0;
   }
   .container {
      margin-top: 190px;
   }
}
@media all and (max-width: 1400px) {
   section {
      padding: 0 150px;
   }
   .counter {
      margin-bottom: 60px;
   }
}
@media all and (max-width: 1280px) {
   section {
      padding: 0 60px;
   }
   h1 {
      font-size: 72px;
      margin: 20px 0;
   }
   h2 {
      font-size: 90px;
   }
   .counter {
      width: 240px;
      height: 250px;
      margin-bottom: 80px;
   }
}
@media all and (max-width: 1024px) {
   section {
      padding: 0 20px;
   }
   h1 {
      font-size: 60px;
      margin: 0;
   }
   h2 {
      font-size: 80px;
   }
   .container {
      margin-top: 150px;
   }
   .counter {
      width: 200px;
      height: 210px;
      margin-bottom: 40px;
   }
}
@media all and (max-width: 912px) {
   body {
      background-position: center;
   }
   section {
      padding: 0 180px;
   }
   h1 {
      font-size: 80px;
   }
   .container {
      margin-top: 300px;
   }
}
@media all and (max-width: 820px) {
   section {
      padding: 0 120px;
   }
}
@media all and (max-width: 768px) {
   h1 {
      font-size: 64px;
   }
   .container {
      margin-top: 200px;
   }
}
@media all and (max-width: 540px) {
   section {
      padding: 0 40px;
   }
   h1 {
      font-size: 36px;
   }
   h2 {
      font-size: 60px;
   }
   .container {
      margin-top: 140px;
   }
   .counter {
      width: 180px;
      height: 180px;
   }
}
@media all and (max-width: 414px) {
   section {
      padding: 0 15px;
   }
   h1 {
      font-size: 40px;
   }
   .container {
      margin-top: 180px;
   }
   .counter {
      width: 150px;
      height: 160px;
      margin-bottom: 20px;
   }
}
